.tracks-list {
  padding: 10px 20px;
}

.show-more {
  cursor: pointer;
  display: block;
  margin-top: 16px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.tracks-total {
  margin-top: 16px;
}
