@use 'styles/BaseContainer.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 620px;
  min-height: 100vh;
  padding: 0 10px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  view-transition-name: header;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  view-transition-name: main-content;
}

.login-button,
.logout {
  @extend %base-container;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 10px 20px;
}

body.dark {
  .login-button,
  .logout {
    @extend %base-container-dark;
  }
}

.playlists-wrapper {
  width: 100%;
  view-transition-name: main-content;
}
